<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.24.0">
      <projectUrl>{{gitrepo}}</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        {{refspec}}
        <url>{{gitrepo}}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>{{branch}}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
if [ ! -f "first-run.lock" ]; then
  touch "first-run.lock"
  echo "First run automaticaly triggered. Skipped."
  exit 0
fi

export JUJU_REPOSITORY=&quot;/tmp/&quot;
OUTPUT_DIR="builds"
SERIES_FLAG=""
if [ ! -z "{{series}}" ]
then
    OUTPUT_DIR="{{series}}"
    SERIES_FLAG="--series {{series}}"
fi

charm build $SERIES_FLAG

juju switch {{controller}}
juju add-model test-{{charmname}}-$BUILD_NUMBER

if [ -z "{{referencebundle}}" ]
then
    bundletester -e {{controller}}:test-{{charmname}}-$BUILD_NUMBER \
      -vFt /tmp/$OUTPUT_DIR/{{charmname}}
else
    juju deploy -m {{controller}}:test-{{charmname}}-$BUILD_NUMBER \
      /tmp/$OUTPUT_DIR/{{charmname}} {{bundleappname}} $SERIES_FLAG
    bundletester -e {{controller}}:test-{{charmname}}-$BUILD_NUMBER \
      -vFt {{referencebundle}} --bundle bundle.yaml
fi

if [ ! -z "{{pushtochannel}}" ]
then
     CHARM_LOCATION=`charm push /tmp/$OUTPUT_DIR/{{charmname}} cs:~{{lpid}}/{{charmname}} | head -1 | awk '{print $2}'`
     charm release $CHARM_LOCATION --channel={{pushtochannel}}
     charm grant $CHARM_LOCATION everyone --channel={{pushtochannel}}
fi
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>juju destroy-model test-{{charmname}}-$BUILD_NUMBER -y</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>false</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
  </publishers>
  <buildWrappers/>
</project>
