<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run CWR</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_CHARM_TARGET</name>
          <description>What should CWR test </description>
          <defaultValue>cs:git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CHARM_NAME</name>
          <description>Reported name of the charm</description>
          <defaultValue>git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CONTROLLER</name>
          <description>Controller to run CWR against</description>
          <defaultValue>lxd</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -f totest.yaml
echo &quot;bundle: $BUILD_CHARM_TARGET&quot; &gt;&gt; totest.yaml
echo &quot;bundle_name: $CHARM_NAME&quot; &gt;&gt; totest.yaml
juju switch $CONTROLLER

# we have to figure out which credential to use because of:
# https://bugs.launchpad.net/juju/+bug/1652171
tryaddmodel=$(juju add-model wont-be-added --credential invalid-credential 2>&amp;1) || true
if expr "$tryaddmodel" : '.* localhost .*'
then
    juju add-model test-cwr-$CHARM_NAME-$BUILD_NUMBER
else
    cloud=$(echo $tryaddmodel | cut -d'"' -f 4)
    credential=$(juju credentials --format=json | jq -r '.credentials.'${cloud}'."cloud-credentials" | keys[0]')
    juju add-model test-cwr-$CHARM_NAME-$BUILD_NUMBER --credential="$credential"
fi

cwr -F $CONTROLLER:test-cwr-$CHARM_NAME-$BUILD_NUMBER totest.yaml --results-dir /srv/artifacts --test-id $BUILD_NUMBER
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
      <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>juju destroy-model test-cwr-$CHARM_NAME-$BUILD_NUMBER -y</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>false</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
   </publishers>
  <buildWrappers/>
</project>
